{% extends 'master.html' %}
{% load mathfilters %}
{% block title %}Your Bag{% endblock %}
{% block content %}
<div class="container w-75 m-auto mt-5">
    <div class="row">
        <div class="col-7">
            <h2>Bag</h2>
            
            <div class="container">
                {% if cart_items %}
                {% for cart_item in cart_items %}

                <div class="row ">
                    <div class="col-3">
                        {% if cart_item.images %}
                        <img src="{{ cart_item.images.first.image.url }}" alt="{{ cart_item.name }}"
                            class="cart-image rounded-4">
                        {% endif %}
                    </div>
                    <div class="col-6 pt-2 d-flex flex-column">
                        <h6><strong>{{ cart_item.name }}</strong></h6>
                        {% if cart_item.tagline %}
                        <p> {{ cart_item.tagline }}</p>
                        {% endif %}{% if cart_item.brand %}
                        <p> {{ cart_item.brand }}</p>
                        {% endif %}
                        <div class="quan-drop">
                            <label for="quantity">Quantity:</label>
                            <select name="quantity" id="quantity" class="border-0 quantity-select" style="width: 40px;"
                                data-product-id="{{ cart_item.id }}">
                                {% for i in '123456789' %}
                                <option value="{{ i }}" {% if i == cart_item.quantity|stringformat:"s"  %} selected {% endif %}> {{ i }}
                                </option>
                                {% endfor %}
                            </select>

                            <label for="Size">Size:</label>
                            <select name="Size" id="quantity" class="border-0" style="width: 90px;">
                                <option value="onesize">Onesize</option>

                            </select>
                        </div>
                        <br>
                        <div class="icons">

                            <button class="link-secondary remove-from-cart btn" data-toggle="tooltip"
                                data-placement="auto left" title="Remove Product" data-product-id="{{ cart_item.id }}">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>

                            <button class="move-to-wishlist btn" data-product-id="{{ cart_item.id }}"
                                data-toggle="tooltip" data-placement="auto left" title="Move to Wishlist">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-3">
                        <strong>MRP: ₹{{ cart_item.price|mul:cart_item.quantity }}</strong>
                    </div>
                </div>
                <hr class="border-1 border-dark border-top">
                {% endfor %}
                {% else %}
                <h4 style="margin-top: 35%;
    margin-left: 30%;">No Items In Bag!</h4>
                {% endif %}

            </div>
        </div>
        <div class="col-5 fw-bold">
            <h2>Summary</h2>
            <div class="p-3 w-100">
                Subtotal
                <span class="float-end">₹ {{total_price}}</span>
            </div>
            <div class="p-3">
                Estimated Delivery & Handling
                <span class="float-end">₹ 1 250.00</span>
            </div>
            <hr class="border-1 border-dark border-top">
            <div class="p-3 w-100 fw-bolder fs-4">
                Total
                <span class="float-end">₹ {{ total_price|add:1250|floatformat:"0" }}.00</span>
            </div>
            <hr class="border-1 border-dark border-top">
            {% if not cart_items %}
            <button href="{% url 'checkout' %}" class="btn btn-dark w-100 p-3 rounded-5 mt-4" disabled>
                Checkout Now</button>
            {% else %}
            <a href="{% url 'checkout' %}" class="btn btn-dark w-100 p-3 rounded-5 mt-4"> Checkout Now</a>
            {% endif %}
            <a href="{% url 'products' %}" class="btn btn-dark w-100 p-3 rounded-5 mt-4">Continue Shopping</a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.quantity-select').forEach(function (select) {
            select.addEventListener('change', function (event) {
                const quantitys = event.target.value;
                let quantity = parseInt(quantitys)
                const productId1 = event.target.dataset.productId;
                let productId = parseInt(productId1)

                fetch(`/update_cart1/${productId}/${quantity}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    window.location.reload()
                })
                .catch(error => console.log('Error:', error));
            });
        });
    });
</script>

{% endblock %}