{% extends "master.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto p-3">
            <h1 class="text-center mt-4">Change Password</h1>
            <form method="post" class="mt-4 form-group" id="signupForm">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="id_email">Enter Email here: </label>
                    <div class="input-group">
                        <input type="email" name="email" class="form-control" style="max-width:80%" maxlength="254"
                            required="" id="id_email">
                        <span class="loader m-auto" style="display: none"></span>
                        <button type="button" class="btn btn-dark" id="sendOtpBtn" style="width: 20%">Send
                            OTP</button>
                    </div>
                </div>

                <div class="form-group mb-3" id="otpSection" style="display: none;">
                    <label for="id_otp">Enter OTP:</label>
                    <div class="input-group">
                        <input type="text" name="otp" id="id_otp" class="form-control" required>
                        <button type="button" class="btn btn-dark" id="verifyOtpBtn">Verify OTP</button>
                    </div>
                </div>

                <div class="form-group mb-3 ani1" id="pass1" style= "display:none">
                    <label for="password"> Enter New Password</label>
                    <div class="input-group">
                        <input type="password" name="password" autocomplete="new-password" required="" id="id_password"
                            class="form-control" style="border-radius: 4px 0 0 4px; border-right:0 ;">
                        <div class="input-group-append" style="border-left: 0;">
                            <span class="input-group-text h-100 bg-white"
                                style="cursor: pointer; border-left: 0; border-radius: 0 4px 4px 0; "
                                id="togglePassword">
                                <i class="fas fa-eye " style="transition-duration: 200ms;"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3" id="pass2" style= "display:none">
                    <label for="exampleInputEmail1"> Confirm Password</label>
                    <div class="input-group">
                        <input type="password" name="password2" autocomplete="new-password_2" required=""
                            id="id_password_2" class="form-control"
                            style="border-radius: 4px 0 0 4px; border-right:0 ;">
                        <div class="input-group-append" style="border-left: 0;">
                            <span class="input-group-text h-100 bg-white"
                                style="cursor: pointer; border-left: 0; border-radius: 0 4px 4px 0; "
                                id="togglePassword2">
                                <i class="fas fa-eye fa-eye-2" style="transition-duration: 200ms;"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div id="passwordMatchMessage" class="text-success m-auto mb-2 w-100"></div>

                <div class="btn-group w-100 mb-2">
                    <button type="submit" class="btn btn-dark" id="changePasswordBtn" disabled style="display:none;">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function sendOTP() {
        const email = document.getElementById('id_email').value;
        document.querySelector(".loader").style.display = 'block';
        document.getElementById('sendOtpBtn').style.display = 'none';
        fetch(`/verifyUser/${email}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            }).then(response => response.json())
            .then(data => {
                if (data.success) {
                    fetch(`/send-otp/${email}`, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': '{{ csrf_token }}',
                            }
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.getElementById('otpSection').style.display = 'block';
                                document.getElementById('id_email').readOnly = true;
                                document.getElementById('sendOtpBtn').classList.add("disabled")
                                custom_alert(data.message);
                            } else {
                                custom_alert(data.message);
                            }
                            document.getElementById("sendOtpBtn").style.display = "block"
                            document.querySelector(".loader").style.display = 'none';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            custom_alert('Failed to send OTP. Please try again later.');
                            document.getElementById("sendOtpBtn").style.display = "block"
                            document.querySelector(".loader").style.display = 'none';
                        });
                } else {
                    document.getElementById("sendOtpBtn").style.display = "block"
                    document.querySelector(".loader").style.display = 'none';
                    custom_alert(data.msg)
                    console.log(data)
                }
            }).catch(err => {
                document.getElementById("sendOtpBtn").style.display = "block"
                document.querySelector(".loader").style.display = 'none';
                console.log(err);
                custom_alert(err)
            })
    }
    // Function to verify OTP
    function verifyOTP() {
        const otp = document.getElementById('id_otp').value;
        fetch(`/verify-otp/${otp}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    custom_alert(data.message);
                    document.getElementById('id_otp').readOnly = true;
                    document.getElementById('verifyOtpBtn').classList.add("disabled")
                    document.querySelector("#pass1").style.display = "block"
                } else {
                    custom_alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                custom_alert('Failed to verify OTP. Please try again later.');
            });
    }
    document.getElementById('sendOtpBtn').addEventListener('click', sendOTP);
    document.getElementById('verifyOtpBtn').addEventListener('click', verifyOTP);

    const messageEle = document.getElementById("passwordMatchMessage")
    document.getElementById("id_password_2").addEventListener("input", checkPassword)

    function checkPassword() {
        if (document.getElementById("id_password_2").value === document.getElementById("id_password").value) {
            messageEle.innerHTML = "Passwords Match"
            document.getElementById("changePasswordBtn").disabled = false
            document.getElementById("changePasswordBtn").style.display = "block"
            messageEle.classList.remove("text-danger")
            messageEle.classList.add("text-success")
        } else {
            messageEle.innerHTML = "Passwords don't Match"
            document.getElementById("changePasswordBtn").disabled = true
            document.getElementById("changePasswordBtn").style.display = "none"
            messageEle.classList.remove("text-success")
            messageEle.classList.add("text-danger")
        }
    }

    document.getElementById("pass1").addEventListener("input", ()=>{
        document.getElementById("pass2").style.display = "block"
    })
    

</script>

{% endblock %}