{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Ecommerce Site">
    <meta name="keywords" content="HTML,CSS,JavaScript,Django, EcommerceSite, ShoopingSite, SchoolProject">
    <meta name="author" content="Arya Anand">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Sacramento&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92390b5043.js" crossorigin="anonymous"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <link rel="icon" type="image/x-icon" href="/image/download/uploads/logos/AA.png">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light {% block navbarmode %}{% endblock %}">
            <div class="container navbar-container">
                <a class="navbar-brand" href="/">
                    <img src="/image/download/uploads/logos/AA{% block logoInverted %}{% endblock %}-rbg.png" alt="Logo"
                        srcset="" class="header-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav"
                    aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="collapseNav">
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link" href="../products?sort=id&order=desc&category=">All Products</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="link">
                                    Categories
                                </a>
                                <div class="dropdown-menu border-0 shadow-sm text-center">
                                    {% for category in categories %}
                                    <a class="dropdown-item" href="/products?category={{category.id}}">
                                        {{category}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="navbar-nav flex-row justify-content-center gap-4">
                        <form class="form-inline">
                            <input class="form-control mr-2" type="text" placeholder="Search" id="navbar-search"
                                onkeyup="searchProducts()">
                        </form>
                        {% if request.session.customer %}
                        <a href="{% url 'logoutUser' %}" class="nav-link link-danger" data-toggle="tooltip"
                            data-placement="bottom auto" title="Logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" data-toggle="tooltip" data-placement="auto"
                                title="{{request.session.customer}}">
                                <i class="fa-regular fa-user"></i>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'loginUser' %}" class="nav-link" data-toggle="tooltip"
                                data-placement="auto left" title="Log in">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'signupUser' %}" class="nav-link" data-toggle="tooltip"
                                data-placement="auto right" title="Sign Up"><i class="fa-solid fa-user-plus"></i></a>
                        </li>
                        {% endif %}


                        <a class="nav-item nav-link" href="{% url 'view_wishlist' %}">
                            <i class="fa-regular fa-heart"></i>
                        </a>
                        <a class="nav-item nav-link" href="{% url 'view_cart' %}">
                            <i class="fa-brands fa-opencart"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>


        {% block content %}
        {% endblock %}
    </div>
    <footer class="bg-dark text-white py-3 footer w-100 text-center">
        <div class="container">
            <p>&copy; 2023 My E-Commerce Store</p>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var dropdownToggles = document.querySelectorAll('.dropdown-toggle');

            // Loop through each dropdown toggle element and add an event listener
            dropdownToggles.forEach(function (dropdownToggle) {
                dropdownToggle.addEventListener("click", function () {
                    // Toggle the 'show' class on the parent element with class 'dropdown'
                    var dropdownMenu = this.parentElement.querySelector(
                        '.dropdown-menu');
                    if (dropdownMenu) {
                        if (dropdownMenu.classList.contains('show')) {
                            dropdownMenu.classList.remove('show');
                        } else {
                            dropdownMenu.classList.add('show');
                        }
                    }
                });
            });
        });
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>


</body>

</html>