{% extends "master.html" %}
{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}


<section class="product-details container d-flex flex-md-row flex-column justify-content-around p-3">

    {% if images.count > 1 %}
    <div class="container col-md-6 m-auto">
        {% for image in images %}
        <div class="mySlides w-100">
            <img src="{{ image.image.url }}" alt="{{ product.name }}" class="img-fluid product-image rounded-5 mb-3">
        </div>
        {% endfor %}
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="row justify-content-lg-start justify-content-evenly">
            {% for image in images %}
            <div class="column">
                <img class="demo cursor rounded" src="{{ image.image.url }}" style="width:100%" alt="{{ product.name }}"
                    onclick="currentSlide('{{ forloop.counter }}')">
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <img src="{{ images.0.image.url }}" alt="{{ product.name }}" class="img-fluid product-image rounded-5 col-md-6">
    {% endif %}

    <div class="product-info col-md-6" id="wishlist-container">
        {% if product.tagline %}
        <h4 class="text-danger product-tagline">{{ product.tagline }}</h4>
        {% endif %}
        {% if product.brand %}
        <h5 class="product-brand mt-2 mb-2"><a class=" link-secondary text-decoration-none "
                href="/brand/{{product.brand.id}}">{{ product.brand }}</a></h5>
        {% endif %}
        <h2>{{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <div class="product-info-price">
            <p class="product-price">Price: ₹{{ product.price }}<br>
                <span class="product-price-desc">incl. of taxes <br>(Also includes all applicable duties)</span>
            </p>
        </div>
        <div class="product-info-button-group">
            <div id="btn-cart-container">
                {% if cart_quantity == 0 %}
                <button href="#" class="btn btn-dark rounded-5 p-3 m-2 w-100 btn-addtocart"
                    data-product-id="{{product.id}}">Add to
                    Bag</button>
                {% else %}
                <div class="btn-group w-100 rounded-4 p-4 m-2">
                    <button type="button" class="btn btn-outline-dark p-2 btn-removefromcart"
                        data-product-id="{{product.id}}"> <span class=" fa fa-minus minus"></span></button>
                    <a type="button" class="btn btn-outline-dark p-2"> {{ cart_quantity }}</a>
                    <button type="button" class="btn btn-outline-dark p-2 btn-addtocart"
                        data-product-id="{{product.id}}">
                        <span class="fa fa-plus plus"></span></button>
                </div>
                {% endif %}
            </div>
            {% if product.isInWishlist%}
            <button class="remove-from-wishlist btn btn-outline-dark rounded-5 p-3 m-2 w-100"
                data-product-id="{{ product.id }}" id="productDetailWishlist">
                Remove from Wishlist
            </button>
            {% else %}
            <button class="add-to-wishlist btn btn-outline-dark rounded-5 p-3 m-2 w-100"
                data-product-id="{{ product.id }}" id="productDetailWishlist">
                Add to Wishlist
            </button>
            {% endif %}
        </div>
    </div>
</section>


{% endblock %}