{% extends "master.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mt-4">Sign Up</h1>
            <form method="post" class="mt-4 form-group">
                {% csrf_token %}

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1"> {{ form.user_name.label_tag }}</label>
                    <input type="text" name="user_name" maxlength="150" autocapitalize="none" autocomplete="user_name"
                        autofocus="" required="" id="id_user_name" control-id="ControlID-3" class="form-control">
                    {% if form.user_name.errors %}
                    <small class="text-danger">{{ form.user_name.errors }}</small>
                    {% endif %}
                </div>
                <div class="row">

                    <div class="form-group mb-3 col">
                        <label for="id_first_name">{{ form.first_name.label_tag }}</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                        <small class="text-danger">{{ form.first_name.errors }}</small>
                        {% endif %}
                    </div>

                    <div class="form-group mb-3 col">
                        <label for="id_last_name">{{ form.last_name.label_tag }}</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                        <small class="text-danger">{{ form.last_name.errors }}</small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="id_email">{{ form.email.label_tag }}</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    <small class="text-danger">{{ form.email.errors }}</small>
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1"> {{ form.password.label_tag }}</label>
                    <input type="password" name="password" autocomplete="new-password" required="" id="id_password"
                        control-id="ControlID-4" class="form-control">
                    {% if form.password.errors %}
                    <small class="text-danger">{{ form.password.errors }}</small>
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                            Agree to <a href="/termsandconditions" target="_blank" class="link-dark">Terms and
                                Conditions</a>
                        </label>
                    </div>
                </div>
                <div class="btn-group w-100 mb-2">
                    <button type="submit" class="btn btn-dark">Create User</button>
                    <a href="" class="btn btn-outline-dark">Login</a>
                </div>
            </form>
            </form>
        </div>
    </div>
</div>
{% endblock %}