altgraph==0.17.3
asgiref==3.7.2
colorama==0.4.6
deprecation==2.1.0
Django==4.2.5
django-appconf==1.0.5
django-mathfilters==1.0.0
keyboard==0.13.5
lxml==4.9.3
packaging==23.1
pefile==2023.2.7
pikepdf==8.4.0
Pillow==10.0.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pynput==1.7.6
pywin32==306
pywin32-ctypes==0.2.2
six==1.16.0
sqlparse==0.4.4
tqdm==4.66.1
tzdata==2023.3
whitenoise==6.5.0
