* {
    font-family: 'Sacramento',
        cursive;
    font-family: 'Comfortaa',
        cursive;
    box-sizing: border-box;

}

.product_image {
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}


footer p {
    color: rgba(255, 255, 255, 0.451)
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 95%;
}

footer .navbar-container {
    max-width: 85%;
    height: 100px;
}

.navbar-nav {
    font-size: large;
}

.nav-link {
    cursor: pointer;
}


.product-image-container button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header-logo {
    height: 23px;
}

.product-details {
    gap: 5%;
    margin: auto;
    margin-top: 50px;
}

.product-info {
    padding: 5%;
}

.product-price-desc {
    color: rgb(197, 196, 196);
}

.product-info-price {
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-details img {
    object-fit: cover;
}

.header-section {
    background-image: url("/image/download/uploads/images/background7.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.header-section-ligh {
    margin-top: -60px;
}

.navbar-ligh {
    background: transparent;
    height: 60px;

}

.navbar-ligh .nav-link,
.navbar-ligh span {
    color: #fff;
}

.navbar-ligh input,
.navbar-ligh input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
}

.navbar-ligh input::placeholder {
    color: rgba(255, 255, 255, 1);
}

.container {
    position: relative;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transition-duration: 100ms;
}

.next {
    right: 5%;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    color: rgb(123, 123, 123);
    scale: 1.1;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}


.heart-outline-animate {
    position: absolute;
    top: 0;
    left: 0;
    /* opacity: 1; */
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    /* transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; */
}

.heart-outline-animate.fade-out {
    /* opacity: 0; */
    /* transform: scale(4); */
}