* {
    font-family: 'Sacramento',
        cursive;
    font-family: 'Comfortaa',
        cursive;
}

.product_image {
    height: 280px;
    /* max-width: 100%; */
    /* width: 100%; */
    /* margin: auto; */
    object-fit: cover;
    border-radius: 15px;
}


footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer p {
    color: rgba(255, 255, 255, 0.451)
}

footer .navbar-container {
    max-width: 85%;
    height: 100px;
}

.navbar-nav {
    font-size: large;
}

.nav-link {
    cursor: pointer;
}

.product-card {
    border: 0;
}

.product-image-container button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.header-logo {
    /* width: 60px; */
    /* object-fit: fill; */
    height: 23px;
}

.product-details {
    gap: 5%;
    margin: auto;
    margin-top: 50px;
}

.product-info {
    padding: 5%;

}

.product-price-desc {
    color: rgb(197, 196, 196);
}

.product-info-price {
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 40px;

}

.product-details img {
    object-fit: cover;
}

.header-section {
    background-image: url("/image/download/uploads/images/background4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
    height: 45vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section .container {
    position: relative;
    left: 10px;
    top: 40%;
    font-size: larger;
}

/* Product detail image slidehow */

* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    transition-duration: 100ms;
}

/* Position the "next button" to the right */
.next {
    right: 5%;
    /* margin-right: 10px; */
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: rgb(123, 123, 123);
    scale: 1.1;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}